.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image{
  margin-top: -2%;
  position:relative;
  object-fit: cover;
}

.hero{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.heroTxtContainer{
  width: 60%;
}
.heroTxt{
  display: flex;
  flex-direction: column;
  font-size: 120px;
}

.textBox{
  background-color: rgb(212, 212, 212);
  text-transform: uppercase;
  color: black;
  padding: 2rem;
  font-size: 1.5rem;
  letter-spacing: 7px;
}

.rustTxt{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 120px;
  letter-spacing: 20px;
  width: 50vw;
}



.rustContainer{
  display: flex;
  justify-content: space-between;
}

.techs{
  display: flex;
  flex-direction: column;
  padding-right: 5%;
  padding-top: 5%;
}
.splash{
  background: rgb(180,58,97);
  background: linear-gradient(355deg, rgba(180,58,97,1) 0%, rgba(253,73,29,1) 50%, rgba(252,235,69,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolioJpg{
  width: 100%;
  height: auto;
  z-index: 5;
}

.portfolioPhotoContainer{
  width:50%
}



.divSplash{
  height:3px;
  background-image: linear-gradient(355deg, rgba(180,58,97,1) 0%, rgba(253,73,29,1) 50%, rgba(252,235,69,1) 100%);
}

.projectHolder{
  display: flex;
  justify-content: space-evenly;
  padding: 10vmin

}
.projectCard{
  width: 20vw;
  height: 20vh;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 5px 5px 20px 30px rgba(0, 0, 0, 0.603);
  position: relative;
  display: flex;
  justify-content: center;
}
.projectCard:hover .overlay {
  opacity: .9;
}

.projectImg{
  height:120%;
  width:auto;
}

.overlay{
  position:absolute;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  color: white;
  padding: .5rem;
  font-size: 1rem;
  letter-spacing: 7px;
  word-wrap: normal;
  text-align: center;
}

.contactContainer{
  color:white;
  display: flex;
  justify-content: space-evenly;
  padding: 10vw;
}

a{
  text-decoration: none;
  color: white;
}