.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image{
  margin-top: -2%;
  position:relative;
  height: 105vh;
}

.hero{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.heroTxtContainer{
  width: 60%;
}
.heroTxt{
  display: flex;
  flex-direction: column;
  font-size: 120px;
}

.textBox{
  background-color: rgb(212, 212, 212);
  text-transform: uppercase;
  color: black;
  padding: 2rem;
  font-size: 1.5rem;
  letter-spacing: 10px;
}

.rustTxt{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 120px;
  letter-spacing: 20px;
  width: 50vw;
}

.splash{
  background: rgb(180,58,97);
  background: linear-gradient(355deg, rgba(180,58,97,1) 0%, rgba(253,73,29,1) 50%, rgba(252,235,69,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txtHeader{
  
}

.borderSplash{
  border-bottom:2px;
  border-style: solid;
  border-image: 
  linear-gradient(355deg, rgba(180,58,97,1) 0%, rgba(253,73,29,1) 50%, rgba(252,235,69,1) 100%);;
}